:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 100%;
  font-family: sans-serif;
  background-color: var(--Grey-900);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.content {
  background-color: var(--Grey-800);
  color: var(--White);
  min-width: 23rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 1rem;
}
h2 {
  margin: 0.5rem;
}
.location {
  color: var(--Green);
  font-size: 15px;
  margin: 0;
}
p {
  font-size: 14px;
  font-weight: 400;
  margin: 1.5rem;
}
ul {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: var(--White);
  margin: 1rem 0;
  background-color: var(--Grey-700);
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 16px;
  transition: 0.4s linear;
  font-weight: 400;
}

a:is(:active, :hover) {
  background-color: var(--Green);
  color: var(--Grey-900);
}

@media (min-width: 344px) {
  .content {
    min-width: 20rem;
    padding: 0.5rem 1rem;
  }
}
